body{
    margin:0;
}
a{
    text-decoration:none;
    cursor: pointer;
}

p,ul {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html, body {
	min-width: 1100px;
	color: #2c3a46;
	background: #fff;
	font-size: 14px;
	line-height: 1.6em;
	font-family: Helvetica, "Pingfang SC", "Microsoft YaHei", STHeiti, Verdana, Arial, Tahoma, sans-serif;
}
a{
	text-decoration: none;
	cursor: pointer;
}
.container {
	margin: 0 auto;
	width: 1100px;
}


.container.main-container {
	min-height: 400px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.hide {
	display: none;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.zhangyu {
	width: 100%;
	min-width: 1100px;
	height: auto;
	position: relative;
	background: #ffffff;
	border-bottom: 1px solid #ededed;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	z-index: 200;
	transition: all 0.5s ease-in;
}

.zhangyu{
	min-width: 1000px;
}

.zhangyu a {
	text-decoration: none;
}

.zhangyu ul {
	list-style: none;
}

.zhangyu .header {
		box-sizing: border-box;
		margin: 0 auto;
		width: 1100px;
		height: 70px;
		zoom: 1;
}
.zhangyu .header {
	width: 1000px;
}

.zhangyu .header:after {
	content: "";
	display: table;
	clear: both;
}

.zhangyu .header .ippp {
	display: inline-block;
	width: 72px;
  height: 25px;
	margin-top: 22.5px;
	background-size: 72px 25px;
    background-image: url("./pic/sssukj.png");
}

.zhangyu .header .uynp{
	display: inline-block;
	width: 60px;
	margin-left: 10px;
  margin-bottom: -1px;
}

.zhangyu .header .uynp p {
	float: left;
	width: 78px;
	color: #999;
	font-size: 10px;
	font-family: 'PingFang SC';
	font-weight: 300;
  line-height: 13px;
}

.zhangyu .header .arrogant {
	float: right;
    zoom: 1;
    margin: 0;
}

.zhangyu .header .arrogant:after {
	content: "";
	display: table;
	clear: both;
}

.zhangyu .header .arrogant > li {
	float: left;
	display: inline-block;
	height: 70px;
	line-height: 70px;
	padding: 0px 20px;
	margin-right: 16px;
}
.zhangyu .header .arrogant > li {
	padding: 0px 20px;
}

.zhangyu .header .arrogant > li .yyy {
	text-decoration: none;
	color: #2c3a46;
}

.zhangyu .header .arrogant > li .yyy:hover {
	color: #FF4444;
}

.zhangyu .header .arrogant .scdk-margin {
	margin-right: 16px;
}

.zhangyu .header .arrogant .scdk-highlight {
	color: #FF4444 !important;
}

.zhangyu .header .arrogant .current-highlight .scdk:after {
	border-top-color: #FF4444;
}

.zhangyu .header .arrogant .product-dropdown {
	z-index: 200;
}

.zhangyu .header .arrogant .product-dropdown div.active {
	background: #f8f8f8;
}

.zhangyu .header .arrogant .product-dropdown:hover .scdk:after {
	border-top-color: #FF4444;
}

.zhangyu .header .arrogant .product-dropdown:hover .yyy {
	color: #FF4444;
}



.zhangyu .header .scdk{
	position: relative;
	display: inline-block;
}
.zhangyu .header .scdk:after, .zhangyu .header .scdk:before {
	content: ' ';
	height: 0;
	width: 0;
	top: 100px;
	position: absolute;
	left: 5px;
	border: 5px solid transparent;
}

.zhangyu .header .scdk:before {
	border-top-color: #ffffff;
	top: -9px;
	z-index: 2;
}

.zhangyu .header .scdk:after {
	border-top-color: #333;
	top: -7px;
	z-index: 1;
}
.zhangyu .header .bcc {
	margin: 0 auto;
	width: 1100px;
	border-top: 1px solid #e5e5e5;
	padding: 20px 0px;
	box-sizing: border-box;
	text-align: center;
}
.zhangyu .header .bcc {
	width: 1000px;
	min-width: 1000px;
}

.zhangyu .header .bcc .bottom-contact {
	font-size: 12px;
	line-height: 30px;
	color: #666;
}

.zhangyu .header .bcc .bottom-contact .dividing-line {
	display: inline-block;
	padding: 0px 20px;
}

.zhangyu .header li.login {
	padding: 0px 0px 0px 20px;
}

.zhangyu .header li.reg {
	padding: 0px 0px 0px 10px;
}

.zhangyu .header .gg-login {
	width: 80px;
	height: 30px;
	line-height: 28px;
	display: inline-block;
	border: 1px solid #2B90ED;
	color: #2B90ED;
	text-align: center;
	border-radius: 2px;
	box-sizing: border-box;
  cursor: pointer;
  margin-right:-15px;
}

.zhangyu .header .gg-login :hover {
	background-color: #2B90ED;
	color: #FFFFFF;
}


.zhangyu .header .gg-reg {
  width: 80px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	background-color: #2B90ED;
	color: #ffffff;
	text-align: center;
	border-radius: 2px;
  cursor: pointer;
}

.zhangyu .header .gg-reg:hover {
	background-color: #5CB0FD;
	color: #ffffff;
}



.wang{
    background-image: url(./pic/ccdv.png);
    height: 420px;
    width: 100%;
    background-size: cover;
    background-position: 50%;
}
.vvsda{
    position: absolute;
    width: 1100px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
}
.vvsda h3{
    font-size: 44px;
    margin: 200px 0 7px;
    line-height: 62px;
}
.vvsda p{
    font-size: 20px;
    margin-bottom: 55px;
}
.vvsda a{
    background-color: #fff;
    padding: 12px 42px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 2px;
    color: #eb737f;
}


.book{
    width: 100%;
    display: table;
    margin: 1rem 0;
}
.book .main{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    zoom: 1;
}
.book .main:after {clear: both;height: 0;overflow: hidden;display: block;visibility: hidden;content: ".";}


.book .main h2{
    font-family: PingFangSC-Medium;
    font-size: 28px;
    color: #333;
    letter-spacing: 0;
    text-align: center;
    font-size: 28px;
    color: #333;
    line-height: 40px;
    padding: 90px 0;
}
.book .a .oo{
    width: 35%;
    float: left;
}
.book .a .oo p{
    margin-bottom: 28px;
    color: #333;
    font-size: 18px;
    line-height: 24px;
    font-family: PingFangSC-Medium;
    letter-spacing: 0;
    width: 100%;
    display:block;
}
.book .a .oo p span{
    margin-top: 5px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999;
    letter-spacing: 0;
    line-height: 24px;
    width: 100%;
    display:block;
}

.book .oo a{
    background-color: #fff;
    color: #38f;;
    font-size: 14px;
    padding: 10px 42px;
    border-radius: 2px;
    display: inline-block;
    border: 1px solid #38f;
    margin-right: 15px;
}

.book .a .oo .mm a.ff{
	background-color: #38f;
    color: #fff;
}

.book.a .xxxx{
    width: 65%;
    float: right;
    text-align: center;
}